head
        title #{title}
        meta(charset="utf-8")
        link(href="/static/node_modules/caramel/dist/css/caramel.min.css" rel="stylesheet")
        link(href="/static/style.css" rel="stylesheet")